.popup__person-info {
  width: calc(100% - 36px * 2);
  margin: 40px auto 0 auto;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__person-info {
    width: calc(100% - 22px * 2);
    margin: 75px auto 0 auto;
  }
}