.profile__edit-button {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: none;
  background-image: url('../../../images/profile-edit-button.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__edit-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__eidt-button {
    width: 7.5px;
    height: 7.5px;
  }
}

/* @media screen and (max-width: 320px) {
  .profile__eidt-button {
    width: 7.5px;
    height: 7.5px;
  }
} */