.profile__add-button-rectangle {
  max-width: 150px;
  width: 17.045%;
  height: 50px;
  align-self: center;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}